<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="inputs"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/icon/logo.png"></ion-img>
      </ion-avatar>
    </ion-buttons>

    <ion-title class="title">Mis Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle style="color: rgb(179, 179, 179);">{{ viaje.id }}</ion-card-subtitle>
      <ion-card-title class ="tit">{{ viaje.destino }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ viaje.comuna }}</p>
      <p>{{ viaje.capacidad }}</p>
      <p>{{ viaje.cuota }}</p>
      <p>{{ viaje.hora }}</p>
      <p>{{ viaje.telefono }}</p>
      <p>{{ viaje.patente }}</p>
    </ion-card-content>
    
  </ion-card>

</ion-content>

